<!DOCTYPE html>
<title> NFT Gallery </title>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>

    <ul id='movie_list'>

    </ul>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        var total = {{ total }};
    </script>

    <script src="script.js"></script>

    <script data-goatcounter="https://altgallery.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>